<!DOCTYPE html>
<html>
<head>
	<title>Book Payment</title>
</head>
<body>
	<h1>Book Payment</h1>

	<h2>Book Details</h2>
	<p>Title: {{bookDetails.title}}</p>
	<p>Author: {{bookDetails.author}}</p>
	<p>Price: {{bookDetails.price}}</p>

	<h2>User Details</h2>
	<p>Name: {{userDetails.name}}</p>
	<p>Email: {{userDetails.email}}</p>
	<p>Address: {{userDetails.address}}</p>

	<h2>Payment Form</h2>
	<form action="" method="POST">
		<p>Are you sure to make payment for this book, after making the payment you will get pdf of this book.</p>
		<br>
		<input type="submit" value="Pay">
</body>
</html>