<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Login form</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div id="main">
        <br> 
        <div class="container">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
              <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                <span class="fs-4">Simple header</span>
              </a>
        
              <ul class="nav nav-pills">
                <li class="nav-item"><a href="{{url_for('home')}}" class="nav-link active" aria-current="page">Home</a></li>
                <li class="nav-item"><a href="{{url_for('librarian_login')}}" class="nav-link">Library Login</a></li>
                <li class="nav-item"><a href="{{url_for('user_login')}}" class="nav-link">Student Login</a></li>
                <li class="nav-item"><a href="{{url_for('about')}}" class="nav-link">About</a></li>
              </ul>
            </header>
          </div>
        <br>
        <h2 style="text-align: center; font-size:xx-large;" >Welcome, Back!</h2> <!-- Greeting heading for users -->
        <h3 style="text-align: center; font-size: large;">Login with your credientials</h3>
        <br>
        <div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-warning">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
                </div>
            {% endif %}
            {% endwith %}
        </div>
        <div id="form-body">
            <h1>Login Form</h1>
            <form action="" method="post">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Shubham03" name="u_name" required>
                </div>
                <div class="mb-3">
                    <label for="pwd" class="form-label">Password</label>
                    <input type="password" class="form-control" id="pwd" name="pwd" required>
                </div>
                
                <input type="submit" class="btn btn-primary" value="Login"> 
            </form>
            <div style="text-align: center;">
                Are you a new user? <a href="{{url_for('user_register')}}">register.</a>
            </div>
            <div style="text-align: center;">
                Looking for Library Login? <a href="{{url_for('librarian_login')}}">Library Login</a>
            </div>
        </div>
    </div>
</body>
</html>


