<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Dashboard</title>
    <link rel="stylesheet" href="static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div id="main">
      <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
          <span class="fs-4">{{ user["username"] }}</span>
        </a>
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/userdashboard" class="nav-link">Books</a></li>
          <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">My Books</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Stats</a></li>
          <li class="nav-item"><a href="/login" class="nav-link">Logout</a></li>
        </ul>
      </header>
      <div class="text-center">
        <h1>Your Current Books </h1>
      </div>

      <div class="text-center mt-5 d-flex justify-content-center align-items-center me-md-auto">
        <form class="w-25 me-2" role="search">
            <div class="d-flex">
              <input type="search" class="form-control" placeholder="Search Books..." aria-label="Search">
              <div class="dropdown" style="margin-left: 15px;">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown button
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
              <button type="submit" class="btn btn-secondary " style="margin-left: 15px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"></path>
                </svg>
              </button>
            </div>
        </form>
      </div>
      <div style="margin: 50px;">
        <div style="text-align: left; margin-left: 50px;">
          <h3>Current Books</h3>
        </div>
        <div class="col-xs-8 col-xs-offset-2 well">
          <table class="table table-scroll table-striped">
              <thead>
                  <tr>
                      <th>#</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>County</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>1</td>
                      <td>Andrew</td>
                      <td>Jackson</td>
                      <td>Washington</td>
                  </tr>
                  <tr>
                      <td>2</td>
                      <td>Thomas</td>
                      <td>Marion</td>
                      <td>Jackson</td>
                  </tr>
                  <tr>
                      <td>3</td>
                      <td>Benjamin</td>
                      <td>Warren</td>
                      <td>Lincoln</td>
                  </tr>
                  <tr>
                      <td>4</td>
                      <td>Grant</td>
                      <td>Wayne</td>
                      <td>Union</td>
                  </tr>
                  <tr>
                      <td>5</td>
                      <td>John</td>
                      <td>Adams</td>
                      <td>Marshall</td>
                  </tr>
                  <tr>
                      <td>6</td>
                      <td>Morgan</td>
                      <td>Lee</td>
                      <td>Lake</td>
                  </tr>
                  <tr>
                      <td>7</td>
                      <td>John</td>
                      <td>Henry</td>
                      <td>Brown</td>
                  </tr>
                  <tr>
                      <td>8</td>
                      <td>William</td>
                      <td>Jacob</td>
                      <td>Orange</td>
                  </tr>
                  <tr>
                      <td>9</td>
                      <td>Kelly</td>
                      <td>Davidson</td>
                      <td>Taylor</td>
                  </tr>
                  <tr>
                      <td>10</td>
                      <td>Colleen</td>
                      <td>Hurst</td>
                      <td>Randolph</td>
                  </tr>
                  <tr>
                      <td>11</td>
                      <td>Rhona</td>
                      <td>Herrod</td>
                      <td>Cumberland</td>
                  </tr>
                  <tr>
                      <td>12</td>
                      <td>Jane</td>
                      <td>Paul</td>
                      <td>Marshall</td>
                  </tr>
                  <tr>
                      <td>13</td>
                      <td>Ashton</td>
                      <td>Fox</td>
                      <td>Calhoun</td>
                  </tr>
                  <tr>
                      <td>14</td>
                      <td>Garrett</td>
                      <td>John</td>
                      <td>Madison</td>
                  </tr>
              </tbody>
          </table>




        </div>
        
        <div style="text-align: left; margin-left: 50px;">
            <h3>Completed Books</h3>
          </div>
          <div class="col-xs-8 col-xs-offset-2 well">
            <table class="table table-scroll table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>County</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Andrew</td>
                        <td>Jackson</td>
                        <td>Washington</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Thomas</td>
                        <td>Marion</td>
                        <td>Jackson</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Benjamin</td>
                        <td>Warren</td>
                        <td>Lincoln</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Grant</td>
                        <td>Wayne</td>
                        <td>Union</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>John</td>
                        <td>Adams</td>
                        <td>Marshall</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Morgan</td>
                        <td>Lee</td>
                        <td>Lake</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>John</td>
                        <td>Henry</td>
                        <td>Brown</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>William</td>
                        <td>Jacob</td>
                        <td>Orange</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>Kelly</td>
                        <td>Davidson</td>
                        <td>Taylor</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Colleen</td>
                        <td>Hurst</td>
                        <td>Randolph</td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>Rhona</td>
                        <td>Herrod</td>
                        <td>Cumberland</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>Jane</td>
                        <td>Paul</td>
                        <td>Marshall</td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>Ashton</td>
                        <td>Fox</td>
                        <td>Calhoun</td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td>Garrett</td>
                        <td>John</td>
                        <td>Madison</td>
                    </tr>
                </tbody>
            </table>
  
  
  
  
          </div>
      </div>
    </div>
</body>
</html>