<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Dashboard</title>
    <link rel="stylesheet" href="static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div id="main">
      <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
          <span class="fs-4">{{ user["username"] }}</span>
        </a>
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="{{url_for('user_dashboard')}}" class="nav-link">Books</a></li>
          <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">My Books</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Stats</a></li>
          <li class="nav-item"><a href="/login" class="nav-link">Logout</a></li>
        </ul>
      </header>
      <div class="text-center">
        <h1>Your Current Books </h1>
      </div>
      <div class="text-center mt-5 d-flex justify-content-center align-items-center me-md-auto">
        <form class="w-25 me-2" role="search">
            <div class="d-flex">
              <input type="search" class="form-control" placeholder="Search Books..." aria-label="Search">
              <div class="dropdown" style="margin-left: 15px;">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown button
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
              <button type="submit" class="btn btn-secondary " style="margin-left: 15px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"></path>
                </svg>
              </button>
            </div>
        </form>
      </div>



      <div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-warning">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
            </div>
        {% endif %}
        {% endwith %}
      </div>
      <br>

      <div style="text-align: left; margin-left: 50px;">
        <h3>List of current books</h3>
    </div>
      <div class="col-xs-8 col-xs-offset-2 well">
        <table class="table table-scroll table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Section</th>
                    <th>Author</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% if currentbooks %}
                    {% for book in currentbooks %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ book["title"] }}</td>
                            <td>{{ book["section"] }}</td>
                            <td>{{ book["author"] }}</td>
                            <td>
                                <a href="{{ url_for('return_book', book_id=book['id'] , user_id=user['userid']) }}">Return</a>
                                <a href="{{ url_for('view_book', book_id=book['id']) }}">View</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5">You dont have any books access currently.</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
      
    <div style="margin: 50px;"></div>
        <div style="text-align: left; margin-left: 50px;">
            <h3>List of completed books</h3>
        </div>

        <div class="col-xs-8 col-xs-offset-2 well"></div>
            <table class="table table-scroll table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Section</th>
                        <th>Author</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% if completedbooks %}
                        {% for book in completedbooks %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ book["title"] }}</td>
                                <td>{{ book["section"] }}</td>
                                <td>{{ book["author"] }}</td>
                                <td><a href="{{ url_for('view_book', book_id=book['id']) }}">View</a></td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5">You haven't completed reading any book.</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>


        <div style="margin: 50px;"></div>
        <div style="text-align: left; margin-left: 50px;">
            <h3>List of requested books</h3>
        </div>
        <div class="col-xs-8 col-xs-offset-2 well"></div>
            <table class="table table-scroll table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Section</th>
                        <th>Author</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% if requestedbooks %}
                        {% for book in requestedbooks %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ book["title"] }}</td>
                                <td>{{ book["section"] }}</td>
                                <td>{{ book["author"] }}</td>
                                <td><a href="{{ url_for('cancel_book', book_id=book['id'],  user_id=user['userid']) }}">Cancel</a></td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5">You haven't requested any book.</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>