<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Books</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  {% include 'header-user.html' %}
  <div class="mainbody">
      <div class="text-center">
        <h1>Your Current Books </h1>
      </div>
      <div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-warning">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
            </div>
        {% endif %}
        {% endwith %}
      </div>

      <div class = "tableheaders">
        <h3>List of current books</h3>
      </div>
      <div class="col-xs-8 col-xs-offset-2">
        <table class="table table-scroll table-striped">
            <thead>
                <tr>
                    <th>Sr.no</th>
                    <th>Title</th>
                    <th>Section</th>
                    <th>Author</th>
                    <th>Days Remaining</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% if currentbooks %}
                    {% for book in currentbooks %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ book["title"] }}</td>
                            <td>{{ book["section"] }}</td>
                            <td>{{ book["author"] }}</td>
                            <td>{{ book["days remaining"] }}</td>
                            <td>
                                <a href="{{ url_for('return_book', book_id=book['id'] , user_id=use
                                rinfo['userid']) }}">Return</a>
                                <a href="{{ url_for('view_book', book_id=book['id']) }}">View</a>
                                <a href="{{ url_for('download_book', book_id=book['id'], user_
                                id=userinfo['userid']) }}">Download</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5">You dont have any books access currently.</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
      <br>
    <div class = "tableheaders">
        <h3>List of completed books</h3>
    </div>
        <div class="col-xs-8 col-xs-offset-2"></div>
            <table class="table table-scroll table-striped">
                <thead>
                    <tr>
                        <th>Sr.no</th>
                        <th>Title</th>
                        <th>Section</th>
                        <th>Author</th>
                        <th>Your Rating</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% if completedbooks %}
                        {% for book in completedbooks %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ book["title"] }}</td>
                                <td>{{ book["section"] }}</td>
                                <td>{{ book["author"] }}</td>
                                <td>{{ book["rating"] }}</td>
                                <td><a href="{{ url_for('view_book', book_id=book['id']) }}">View</a>
                                    <a href="{{url_for('rate', book_id=book['id'])}}">Rate</a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5">You haven't completed reading any book.</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
            <br>
        <div class = "tableheaders">
            <h3>List of Requested books</h3>
        </div>
        <div class="col-xs-8 col-xs-offset-2 "></div>
            <table class="table table-scroll table-striped">
                <thead>
                    <tr>
                        <th>Sr.no</th>
                        <th>Title</th>
                        <th>Section</th>
                        <th>Author</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% if requestedbooks %}
                        {% for book in requestedbooks %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ book["title"] }}</td>
                                <td>{{ book["section"] }}</td>
                                <td>{{ book["author"] }}</td>
                                <td><a href="{{ url_for('cancel_book', book_id=book['id'],
                                      user_id=userinfo['userid']) }}">Cancel</a></td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5">You haven't requested any book.</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        {% include 'footer.html' %}
</body>
</html>