.mainbody-nonlogin {
    margin: 20px 100px;
    min-height: 550px;
}

body {
    margin: 0 10px;
}

.tableheaders {
    text-align: left;
    margin-left: 50px;
    margin-top: 20px;

}


#form-body{
    border: 1px solid grey;
    width: 370px;
    height: auto;
    margin: auto;
    margin-top: 30px;
    padding: 30px;
    border-radius: 10px;
    background-color: salmon;
}


.section-box {
    border: 4px solid #000; /* Thick black border */
    border-radius: 10px; /* Rounded corners */
    /* background-image: url('your-image-url.jpg'); Replace 'your-image-url.jpg' with your actual image URL */
    background-size: cover; /* Cover the entire box with the background image */
    padding: 20px; /* Add padding inside the box */
}
/* style for list of books in user dashboard */
